<ul>       
<li>{{ article.title }}</li>       
<li>Nom: {{ article.author }}</li>       
<li>Contenu : {{ article.content }}</li>     
</ul>
{{ form(form) }}

<a href = "/user-list">Revenir à la liste des articles</a>
</div>